.title{
    display:flex;
    justify-content:center;
    font-size:40px;
}


.container{
    display:flex;
    justify-content: center;
    align-items:center;
}
.board{
    display:flex;
    box-sizing: border-box;
    border: solid black 1px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
   

    

}

.board div{
    display:flex;
    border:dotted black 1px;
    flex-wrap:wrap;
    width: 55.8px;
    height: 40.9px;
    box-sizing: border-box;
}

/* .BlockDivClass{
   
} */