.title{
    display:flex;
    justify-content:center;
    font-size:40px;
}


.container{
    display:flex;
    justify-content: center;
    align-items:center;
    transform: scale(calc(960px / 1000)); /* scale to fit vertically */
    transform-origin: top center;
}
.board{
    display:flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-around;
    width:960px;
    height:960px;

   

    

}

.board div{
    display:flex;
    border:dotted black 1px;
    flex-wrap:wrap;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.75); */
    transform-origin: top left;
    width: 133.33%;
    height: 133.33%;
    overflow: hidden;
    margin: 0;


}